<div class="media">
	<div class="media-body">
  	<h4 class="media-heading">
  	<div class = "col-md-6">
      <small><%= comment.body %></small>
    </div>
    <div class = "col-md-2">
    	<small><em><%=comment.user.name%></em></small>
  	</div>
  	</h4>
  </div>
</div>